* {
    margin: 0;
    box-sizing: border-box;


}

/*Navbar*/
nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: transparent;
}

.logoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 30px;
    height: 20px;
    padding-right: 12px;
    /* padding-top:8px; */
}

.text_Loanism {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    /* line-height: 39px; */
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

.FeatureContainer {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;

}

#product {
    border: none;
    background-color: transparent;
    color: #FFFFFF;
}

.platform {
    padding-right: 32px;
}

.product {
    padding-right: 32px;
}

.resources {
    padding-right: 32px;
}

.solution {
    padding-right: 32px;
}

.about {
    padding-right: 32px;
}

.Login {
    border: 1px solid #FFFFFF;
    border-radius: 23px;
    Width: 122px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.428571px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

/*First Part*/
.Bluebox-Container {
    width: 100%;
    height: 650px;
    background: #3964FF;
    position:relative;
    margin-bottom:150px;
    
}
.slant{
    width: 100%;
    height: 650px;
    position:absolute;
    top:0;
    left:0;
    transform:skewY(5deg);
    transform-origin: top left;
    background: #3964FF;
    z-index: -1;

}

.poem_text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1.2px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.Intro_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 70px;
    color: #FFFFFF;
    width: 572px;
    height: 210px;
    padding-top: 20px;

}

.sectionPart {
    display: flex;
    justify-content: space-between;
 padding-top:115px;
    padding-left:7rem;
    padding-right:7rem; 

}

.boxtransparent {
    width: 455px;
    height: 400px;

    background: #9CE8B5;
    mix-blend-mode: normal;
    opacity: 0.1;
    z-index: 9;
    position: absolute;
    top: 16rem;
    transform: skewY(10deg);


}

#Fox_image {
    width: 487px;
    height: 441px;
    position: absolute;
    z-index: 10;
}

.Image-part {
    display: flex;
    justify-content: flex-end;

}